// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-secondary: #0062cc; 
  --ion-color-secondary-rgb: 0, 98, 204;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0056b3;
  --ion-color-secondary-tint: #1a73d2;
}
